.App {
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: 'Bebas Neue';
}

.navbar-custom {
  background-color: black; /* Set Navbar background to black */
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.734);
  transition: color 0.3s ease-in-out; /* Set link color to white */
}

.navbar-custom .nav-link:hover {
  color: #ffffff; /* Custom color on hover */
}


.navbar-custom .nav-link.active {
  color: red !important; /* Custom color on hover */
}
.navbar-custom .navbar-toggler-icon {
  background-image: url(''); /* Optional: Custom toggle icon */
}

.video-muter-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.video-muter-button:hover {
  background-color: #555;
}